


header {
  width: 100%;
  z-index: 1000;

  .top_bar {
    width: 100%;
    padding: 8px 0;
    background: $second;
    @media screen and (max-width: 768px) {
      display: none;
    }
    .container {
      @include space-between();
      padding: 0;
    }
    .location_email ul {
      display: flex;
      gap: 16px;
      align-items: center;
      li {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: normal;
        gap: 8px;
        color: $white;
        a {
          color: $white;
        }
      }
    }
    .social_media ul {
      display: flex;
      gap: 16px;
      align-items: center;
      li {
        a {
          color: $white;
          font-size: 14px;
        }
      }
    }
  }


  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.75rem !important;
    .logo {
      @include centerFlex();
      img {
        height: 42px;
        object-fit: contain;
      }
    }
    .nav-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2.5rem;
      transition: all 0.4s ease-in-out;
      z-index: 9;

      .dropdown-item {
        font-size: 14px;
        text-align: right;
    width: 185px;
    text-wrap-mode: wrap;
    text-wrap-style: balance;
      }
      
      img {
        height: 42px;
        object-fit: contain;
      }
      li.hide_lg {
        display: none;
      }
      @media screen and (max-width: 992px) {
        padding: 2rem 1.5rem;
        position: fixed;
        background: $white;
        height: 100vh;
        top: 0;
        right: -50%;
        width: 50%;
        flex-direction: column;
        justify-content: flex-start;
        gap: 2rem;
        align-items: flex-start;
        li.hide_lg {
          display: block;
        }
        &.active {
          right: 0;
        }
      }

      a {
        color: $main;
        font-size: 18px;
        transition: 0.3s ease-in-out;
        // text-align: left;
        &:hover,
        &.active {
          color: $second;
        }
      }

      
    }
    .layer {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 1;
      height: 100vh;
      &.active {
        display: block;
      }
    }
    .actions {
      display: flex;
      align-items: center;
      gap: 12px;
      .company_file {
        padding: 6px 24px;
        color: $white;
        background: $main;
        border-radius: 40px;
        transition: 0.3s ease-in-out;
        &:hover {
          background: $second;
        }
        @media screen and (max-width: 576px) {
          display: none;
        }
      }
      button {
        color: $main;
        font-weight: 500;
        font-size: 1rem;
        line-height: normal;
        height: 39.2px;
        width: 39.2px;
        border-radius: 50%;
        border: 1px solid $main;
        transition: 0.3s ease-in-out;
        &:hover {
          color: $second;
          border: 1px solid $second;
        }
      }
      .menu-button {
        display: none;
        @media screen and (max-width: 768px) {
          @include centerFlex();
        }
      }
    }
  }

  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    background: $white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    animation: 0.5s ease-in-out 0s normal none 1 running fadeInDown;
    .top_bar {
      padding: 0;
      height: 0;
      overflow: hidden;
    }
  }
}

@keyframes animation-1 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(30px);
  }
}
