@import "config";

body {
  @import "header";
  @import "footer";
  @import "home";
  @import "cards";
  @import "services";
  @import "packages";
  overflow-x: hidden;
  position: relative;
  direction: rtl;
  font-family: "Zain", serif;
  &.en {
    direction: ltr;
    font-family: "Outfit", serif;
    .blog_card .content a i {
      transform: scale(-1);
    }
    header nav .nav-links a {
      font-size: 16px;

      &.dropdown-item {
        text-align: left !important;
      }
    }
    main {
      .about_section h5 {
        font-size: 16px;
      }
      .hero_section .content h1 {
        font-size: 38px;
      }
      .our_services .service_card a i {
        transform: scale(-1);
      }
      .about_us_section .content .about_footer .r_list a i {
        transform: scale(-1);
      }
      .faqs_section .accordion .accordion-item .accordion-button::after {
        margin-left: auto;
        margin-right: 0;
      }
      .project_details .bordered_bx h4::before {
        right: initial;
        left: 0;
      }
      .portfolio_page .portfolio_header .text h1 {
        font-size: 36px;
      }
      .about_section .content h1 {
        font-size: 32px;
      }
      .contact_page .contact_info h2 {
        font-size: 42px;
      }
    }
    footer .col_info h3::after {
      right: initial;
      left: 0;
    }

    .modal-header .back-button i {
      transform: scale(1);
    }
  }
}

.map {
  margin-bottom: -8px;
}

.floating_btn {
  position: fixed;
  bottom: 48px;
  left: 24px;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: $white;
  z-index: 10;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  img {
    height: 42px;
  }
}
